        body {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f9f9f9;
            color: #4B4B4B;
        }
        
        input {
            text-align: right;
        }
        
        h2 {
            letter-spacing: 0.01rem;
        }
        .container {
            height: 100%;
            width: 75%;
            margin-top: 2.5%;
        }
        
        .sub-container {
            display: flex;
            width: 100%;
            gap: 50px;
            height: max-content;
        }
        
        .header {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        
        .header button {
            height: max-content;
            width: max-content;
            padding: 10px;
            border: none;
            background-color: transparent;
            font-size: 35px;
            color: #990000;
        }
        
        .header button:hover {
            cursor: pointer;
        }
        
        .view,
        .breakup {
            width: 45%;
            color: #666666;
        }
        
        .details {
            background: #ffffff;
            padding: 30px;
            height: 160px;
            border-radius: 4px;
            color: #4b4b4b;
            border: 1px 1px 0px 1px solid rgba(153, 153, 153, 0.1);
        }
        
        .details input {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid rgba(153, 153, 153, 0.6);
            border-radius: 4px;
        }
        
        .detail {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding-bottom: 10px;
        }
   
        
        .footer {
            display: flex;
            height: 50px;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 30px;
            padding-left: 30px;
        }
        
        .range-text {
            display: flex;
            font-size: 12px;
            margin-top: -5px;
            width: 100%;
            justify-content: space-between;
        }

        #yearLabel {
            color: #990000;
            font-size: 0.8em;
            display: inline-block;
        }
        
        #lost-money {
            color: #E20F00;
            padding: 5px;
            margin-top: 50px;
            background: rgba(226, 15, 0, 0.1);
            border-radius: 4px;
        }
        
        #current-money {
            color: #383838;
            padding: 5px;
            margin-top: 45px;
        }
        
        .loan-details {
            width: 90%;
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
        
        #lost-money-text {
            color: #4b4b4b;
            margin-top: 50px;
        }
        
        #lost-money-text::before {
            content: "hat folgenden Kaufkraftverlust";
        }
        
        #current-money-text {
            color: #4b4b4b;
            margin-top: 50px;
            width: 60%;
        }
        
        #current-money-text::before {
            content: "Jetzt beträgt die Kaufkraft Ihrer Ersparnisse nur noch**";
        }
        
        .input-control {
            width: 100px !important;
            height: 30px !important;
            margin-top: -20px;
            margin-bottom: 10px;
        }
        
        #year-slider {
            -webkit-appearance: none;
            margin: 20px 0;
            width: 100%;
            border: none;
            padding: 0px;
            -webkit-appearance: none;
        }
        
        input[type=range]::-moz-range-thumb {
            box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
            border: 3px solid #ffffff;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #990000;
            background-image: url("https://i.ibb.co/xgjLgQX/left-and-right-arrows.png");
            background-position: 2.5px 3px;
            background-size: initial;
            cursor: pointer;
            background-repeat: no-repeat;
            margin-top: -9px;
            -webkit-appearance: none;
        }
        
        input[type='range']::-webkit-slider-thumb {
            box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
            border: 3px solid #ffffff;
            height: 25px;
            width: 25px;
            background-color: #990000;
            background-image: url("https://i.ibb.co/xgjLgQX/left-and-right-arrows.png");
            background-position: 2px 2px;
            background-size: initial;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-top: -9px;
            -webkit-appearance: none;
            border-radius: 50%;
        }
        
        input[type="range"]::-moz-range-track {
            width: 100%;
            height: 6px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
            border-radius: 10px;
            -webkit-appearance: none;
        }
        
        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 9px;
            cursor: pointer;
            border-radius: 10px;
            -webkit-appearance: none;
        }
        
        #savings-input:invalid~label::after {
            content: "Required Field";
            color: #990000;
            font-size: 0.8em;
        }
        
        #savings-input:valid~label::after {
            content: "";
            font-size: 0.8em;
        }
        
        #year-input:invalid~label::after {
            content: "Required Field";
            color: #990000;
            font-size: 0.8em;
        }
        
        #year-input:valid~label::after {
            content: "";
            font-size: 0.8em;
        }
        
        @media only screen and (max-width:385px) {
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            .details {
                height: 275px;
            }
            body {
                font-size: 13px;
            }
            h3 {
                font-size: 24px;
                max-width: 100%;
            }
            .sub-container {
                flex-wrap: wrap;
                justify-content: flex-start;
                flex-direction: row;
                max-width: 100%;
            }
            .view {
                width: 100%;
                margin-top: 5%;
            }
            .detail {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                flex-wrap: wrap;
            }
            .breakup {
                width: 100%;
                margin-top: -30px;
            }
            #current-money-text {
                width: 120px;
                font-size: 13px;
            }
            .footer {
                padding: 20px;
            }
            #lost-money,
            #current-money {
                max-width: 100px;
                margin-top: 22px;
            }
            #lost-money-text {
                margin-bottom: 30px;
                width: 100px;
                font-size: 13px;
            }
            .input-control {
                margin-top: 10px;
            }
            .breakup p {
                margin-bottom: 10px;
            }
            #lost-money,
            #current-money {
                min-width: 64px;
            }
            .footer {
                display: flex;
            }
        }
        
        @media only screen and (min-width: 386px) and (max-width: 768px) {
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            .details {
                height: 250px;
            }
            body {
                font-size: 13px;
            }
            .sparkonto {
                margin-top: 5px;
            }
            .erspartes {
                margin-top: 5px;
            }
            .input-control {
                margin-top: -1px;
            }
            h3 {
                font-size: 24px;
                max-width: 100%;
            }
            .sub-container {
                flex-wrap: wrap;
                justify-content: flex-start;
                flex-direction: row;
                max-width: 100%;
            }
            .view {
                width: 100%;
                margin-top: 5%;
            }
            .breakup {
                width: 100%;
                margin-top: -30px;
            }
            #current-money-text {
                width: 200px;
            }
            #lost-money,
            #current-money {
                min-width: 64px;
            }
            .breakup p {
                margin-bottom: 10px;
            }
            /* .detail {
                margin-top: 1px;
            } */
        }
        
        @media only screen and (min-width: 769px) and (max-width:1175px) {
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            body {
                font-size: 13px;
            }
            .view {
                width: 560px;
            }
            .sub-container {
                gap: 25px;
            }
            .breakup p {
                margin-bottom: 10px;
            }
        }
      @font-face {
          font-family: 'DINPro';
          font-style: normal;
          font-weight: 300;
          src: local('DINPro'), url('https://fonts.cdnfonts.com/s/18774/DINPro-Light tr.woff') format('woff');
      }
      
      @font-face {
          font-family: 'DINPro';
          font-style: normal;
          font-weight: 500;
          src: local('DINPro'), url('https://fonts.cdnfonts.com/s/18774/DINPro-Medium tr.woff') format('woff');
      }
      
      @font-face {
          font-family: 'DINPro';
          font-style: normal;
          font-weight: 700;
          src: local('DINPro'), url('https://fonts.cdnfonts.com/s/18774/DINPro-Bold tr.woff') format('woff');
      }
      
      @font-face {
          font-family: 'DINPro';
          font-style: normal;
          font-weight: 900;
          src: local('DINPro'), url('https://fonts.cdnfonts.com/s/18774/DINPro-Black tr.woff') format('woff');
      }
      
      body {
          font-family: 'DINPro';
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f9f9f9;
          color: #4B4B4B;
      }
      
      input {
          text-align: right;
          font-family: 'DINPro';
          color: #4b4b4b;
      }
      
      input[type=text]:focus {
          border: 1px solid #559E30;
          outline: none;
          -webkit-appearance: none;
      }
      
      h3 {
          font-size: 40px;
          color: #4b4b4b;
          width: 700px;
          font-weight: lighter;
          letter-spacing: -1px;
      }
      
      .container {
          height: 100%;
          width: 75%;
          margin-top: 9%;
      }
      
      .sub-container {
          display: flex;
          width: 100%;
          gap: 50px;
          height: max-content;
      }
      
      .breakup {
          font-weight: lighter;
          font-size: 14px;
      }
      
      .view,
      .breakup {
          width: 45%;
          color: #666666;
      }
      
      
      
      .details input {
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
          border: 1px solid rgba(153, 153, 153, 0.6);
          border-radius: 4px;
      }
      
      .detail {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          padding-bottom: 10px;
      }
      
      .footer-container {
          height: 150px;
          background: #ffffff;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          color: #4b4b4b;
          border: 0px 1px 1px 1px solid rgba(153, 153, 153, 0.1);
      }
      
      .footer {
          display: flex;
          height: 50px;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          padding-right: 30px;
          padding-left: 30px;
      }
      
      .range-text {
          display: flex;
          font-size: 12px;
          margin-top: -13px;
          width: 100%;
          font-family: 'DINPro';
          justify-content: space-between;
      }
      
      #lost-money {
          color: #E20F00;
          padding: 5px;
          margin-top: 50px;
          background: rgba(226, 15, 0, 0.1);
          border-radius: 4px;
      }
      
      #current-money {
          color: #4b4b4b;
          padding: 5px;
          margin-top: 45px;
      }
      
      .loan-details {
          width: 90%;
          display: flex;
          justify-content: space-between;
          gap: 30px;
      }
      
      #lost-money-text {
          color: #4b4b4b;
          margin-top: 50px;
      }
      
      #lost-money-text::before {
          content: "hat folgenden Kaufkraftverlust";
      }
      
      #current-money-text {
          color: #4b4b4b;
          margin-top: 50px;
          width: 60%;
      }
      
      #current-money-text::before {
          content: "Jetzt beträgt die Kaufkraft Ihrer Ersparnisse nur noch**";
      }
      
      .input-control {
          width: 100px !important;
          height: 30px !important;
          margin-top: -20px;
          margin-bottom: 10px;
      }
      
      input[type=range]::-moz-range-thumb {
          box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
          border: 3px solid #ffffff;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #84B816;
          background-image: url("https://i.ibb.co/xgjLgQX/left-and-right-arrows.png");
          background-position: 2.5px 2.5px;
          background-size: initial;
          cursor: pointer;
          background-repeat: no-repeat;
          margin-top: -9px;
          -webkit-appearance: none;
      }
      
      input[type='range']::-webkit-slider-thumb {
          box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
          border: 3px solid #ffffff;
          height: 25px;
          width: 25px;
          background-color: #84B816;
          background-image: url("https://i.ibb.co/xgjLgQX/left-and-right-arrows.png");
          background-position: 2px 2px;
          background-size: initial;
          background-repeat: no-repeat;
          cursor: pointer;
          margin-top: -9px;
          -webkit-appearance: none;
          border-radius: 50%;
      }
      
      input[type="range"]::-moz-range-track {
          width: 100%;
          height: 6px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          border-width: 16px 0;
          color: transparent;
          border-radius: 10px;
          -webkit-appearance: none;
      }
      
      input[type="range"]::-webkit-slider-runnable-track {
          width: 100%;
          height: 9px;
          cursor: pointer;
          border-radius: 10px;
          -webkit-appearance: none;
      }
      
      
      @media only screen and (max-width:385px) {
          * {
              padding: 0;
              margin: 0;
              box-sizing: border-box;
          }
          .details {
              height: 300px;
          }
          body {
              font-size: 13px;
          }
          h3 {
              font-size: 24px;
              max-width: 100%;
          }
          .sub-container {
              flex-wrap: wrap;
              justify-content: flex-start;
              flex-direction: row;
              max-width: 100%;
          }
          .view {
              width: 100%;
              margin-top: 5%;
          }
          .detail {
              display: flex;
              justify-content: flex-start;
              flex-direction: column;
              flex-wrap: wrap;
          }
          .breakup {
              width: 100%;
              margin-top: -30px;
          }
          #current-money-text {
              width: 120px;
              font-size: 13px;
          }
          .footer {
              padding: 20px;
          }
          #lost-money,
          #current-money {
              max-width: 100px;
              margin-top: 22px;
          }
          #lost-money-text {
              margin-bottom: 30px;
              width: 100px;
              font-size: 13px;
          }
          .input-control {
              margin-top: 10px;
          }
          .breakup p {
              margin-bottom: 10px;
          }
          #lost-money,
          #current-money {
              min-width: 64px;
          }
          .footer {
              display: flex;
          }
          .range-text {
              margin-top: -7px;
          }
      }
      
      @media only screen and (min-width: 386px) and (max-width: 768px) {
          * {
              padding: 0;
              margin: 0;
              box-sizing: border-box;
          }
          .details {
              height: 220px;
          }
          body {
              font-size: 13px;
          }
          .sparkonto {
              margin-top: 5px;
          }
          .erspartes {
              margin-top: 5px;
          }
          .input-control {
              margin-top: -1px;
          }
          h3 {
              font-size: 24px;
              max-width: 100%;
          }
          .sub-container {
              flex-wrap: wrap;
              justify-content: flex-start;
              flex-direction: row;
              max-width: 100%;
          }
          .view {
              width: 100%;
              margin-top: 5%;
          }
          .breakup {
              width: 100%;
              margin-top: -30px;
          }
          #current-money-text {
              width: 200px;
          }
          #lost-money,
          #current-money {
              min-width: 64px;
          }
          .breakup p {
              margin-bottom: 10px;
          }
          .range-text {
              margin-top: -7px;
          }
      }
      
      @media only screen and (min-width: 769px) and (max-width:1175px) {
          * {
              padding: 0;
              margin: 0;
              box-sizing: border-box;
          }
          body {
              font-size: 13px;
          }
          .view {
              width: 560px;
          }
          .sub-container {
              gap: 25px;
          }
          .breakup p {
              margin-bottom: 10px;
          }
          .details {
              height: 205px;
          }
          .range-text {
              margin-top: -7px;
          }
      }
